osource "C:/Users/Gary/Desktop/Zephyr/central_uart/boards/shields/*/Kconfig.shield"
osource "C:/Users/Gary/Desktop/Zephyr/peripheral_uart/boards/shields/*/Kconfig.shield"
osource "C:/Users/Gary/Desktop/Zephyr/NUS-BLE-MESH-SENSOR/boards/shields/*/Kconfig.shield"
osource "C:/Users/Gary/Desktop/Zephyr/BLE-Sensor-Server/boards/shields/*/Kconfig.shield"
osource "C:/ncs/v2.9.0/nrf/boards/shields/*/Kconfig.shield"
